@model UniChatApplication.Models.StudentProfile

@{

    ViewData["Title"] = "Student - Delete";
}

<link rel="stylesheet" href="~/css/StudentManagement/StyleDelete.css">
<link rel="stylesheet" href="~/css/cssPlus/buttonPlus.css">

<div class="container">
    <div class="text-center">
        <h1>Student Management</h1>
        <h4>Delete a student</h4>
        <a class="button-3 text-white text-decoration-none" asp-action="Index">Back to List</a>
    </div>
    <hr>

    <div class="d-flex flex-wrap" style="gap: 1rem;">
        <div class="avatar-box">
            <img src="@Model.Avatar" alt="">
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>@Model.Account.Username</td>
                </tr>
                <tr>
                    <th>FullName</th>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td>@Model.Birthday.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>@Model.GenderText</td>
                </tr>
                @*<tr>
                    <th>Major</th>
                    <td>@Model.Major</td>
                </tr>*@
                <tr>
                    <th>StudentCode</th>
                    <td>@Model.StudentCode</td>
                </tr>
                <tr>
                    <th>Class</th>
                    <td>@Model.getClassName()</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="p-2 text-danger">
        <h4 class="text-danger">Do you want to complete delete the student "@Model.FullName"?</h4>
        <hr>
        <form method="post">
            <input type="submit" value="Confirm" class="button-3 text-white text-decoration-none" />
        </form>
    </div>
</div>
